body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Anton", sans-serif;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: row;
}

main {
  /*
    max-width
    margin: 0 auto;
  */
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  max-width: 600px;
  min-width: 300px;
  width: 500px;
  margin: 0 0 0 auto;
}

nav {
  flex-direction: column;
  flex-grow: 1;
  max-width: 300px;
  min-width: 100px;
  width: 200px;
  margin: 0 auto 0 0;
}

.top {
  height: 11%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
  height: 8%;
  flex-grow: 1;
  margin-top: 2%;
  height: 10vh;
  min-height: 100px;
}

#gameBoard {
  flex-grow: 9;
  /*
    flex 2
  */
}

.lights {
  width: 100%;
  height: 100%;
  display: flex;
  height: 70vh;
  min-height: 200px;
  max-height: 800px;
}

#rightSide,
.rightInfo {
  display: flex;
  flex-direction: column;
}

#rightSide {
  height: 80%;
  /*
    flex 1
  */
}

.rightInfo {
  justify-content: center;
  width: 100%;
  text-align: left;
  color: #b20000;
}

#topInfo,
#bottomInfo {
  flex-grow: 1;
  height: 50%;
}

#bottomInfo {
  color: black;
  font-size: 25px;
  height: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right.bottom {
  text-align: left;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.optionRow {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

.switchLabel {
  margin: 5px 20px 5px 20px;
  width: 100%;
}

.switch {
  width: 50%;
}

#instructions {
  margin: 0 0 0 20px;
}

#scoreDisplay {
  color: #b20000;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* make scrollbar invisible */
}

.stats {
  font-size: 25px;
  margin: 5px 20px 5px 20px;
}

.countdown {
  font-size: 25px;
}

#titleText {
  letter-spacing: 2.5px;
  font-size: 50px;
  margin: 1% auto 1% auto;
}

h2 {
  font-size: 20px;
  margin: 0px auto 0px auto;
  font-weight: 100;
  font-style: italic;
}

/*
  height, min-height, max-height
  width, min-width, max-width
*/
.light {
  width: 80%;
  height: 80%;
  opacity: 0.2;
}

.lightColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#column1 {
  align-items: flex-end;
}

#column2 {
  align-items: flex-start;
}

.sliderValue {
  text-align: center;
}

#light1 {
  background-color: green;
  border-top-left-radius: 250px;
}

#light2 {
  background-color: red;
  border-top-right-radius: 250px;
}

#light3 {
  background-color: yellow;
  border-bottom-left-radius: 250px;
}

#light4 {
  background-color: blue;
  border-bottom-right-radius: 250px;
}

#slidecontainer {
  width: 100%; /* Width of the outside container */
}

@media screen and (max-width: 749px) {
  body {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  main {
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
  }
  nav {
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
  }
  #gameBoard {
  }

  #topInfo {
    align-items: center;
  }
  #bottomInfo {
  }
  .optionRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .right.bottom {
    align-items: center;
    text-align: center;
    padding: 0px;
    order: 2;
  }

  .right.top {
    height: 0px;
  }

  #instructions {
    margin: 0;
  }
}
